:root {
  --background-color: #c5f0f8;
  --card-color: #ffffff;
  --title-color: #2f5d89;
  --header-color: #727e8d;
  --color-option-1: #396bae;
  --color-option-2: #7b98b2;
  --color-option-3: #496fa1;
  --color-option-4: #3885ca;
  --color-option-5: #327fc7;
  --color-option-6: #4581c5;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.weather-home-wrapper {
  background: var(--background-color);
  color: var(--color-option-1);
}

.block-wrapper {
  width: 960px;
}

.text-theme {
  color: var(--color-option-2);
}

.toggle-control {
  display: block;
  position: relative;
  padding-left: 100px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-control input:checked ~ .control {
  background-color: #0e1340;
}

.toggle-control input:checked ~ .control::before {
  background: #0e1340;
  left: 39px;
  transform: scale(1);
}

.toggle-control input:checked ~ .control::after {
  background: white;
  left: 55px;
}

.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100px;
  border-radius: 25px;
  background-color: #68c7fe;
  transition: background-color .125s ease-in;
}

.toggle-control .control::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 50%;

  transform: scale(0);

  background: #68c7fe;
  z-index: 5;

  transition: all .125s ease-in;
}

.toggle-control .control::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff89e;
  transition: all .125s ease-in;
}
