<div class="d-flex justify-content-center align-items-center w-100 h-100 weather-home-wrapper">
    <div class="block-wrapper">
      <div class="d-flex justify-content-between">
        <h2>
          Angular Weather App
        </h2>
        <div>
          <label class="toggle-control">
            <input type="checkbox" (change)="changeTheme($event)">
            <span class="control"></span>
          </label>
        </div>
      </div>
      <div>
        Current Weather
      </div>
      <div>
        Extended Weather Forecast
      </div>
    </div>
</div>
